/** @format */
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: nones;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	font-family: Roboto;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: • 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 03;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}
/* Мои css */
body {
	font-size: 14px;
	font-weight: normal;
	box-sizing: border-box;
}
html {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
.header__top {
	border-bottom: 1px #ececec;
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.innet ul li div h3 {
	font-weight: 700;
	font-size: 18px;
	font-style: normal;
	line-height: 36px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
.header::before {
	border-bottom: 230px #212121;
}
.header {
	border-bottom: 1px solid#ECECEC;
}
.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}
.header__top .menu {
	display: flex;
	align-items: center;
	border-bottom: 1px #ececec;
}
.header__top nav ul {
	display: flex;
	align-items: center;
}
.header__top nav ul li:not(:last-child) {
	margin: 0 50px 0 0;
}
.nav {
	display: block;
	margin-left: 90px;
	font-weight: 500;
}
.nav ul li a {
	padding: 32px 0 32px;
	line-height: 82px;
}
.blog {
	display: flex;
	align-items: center;
}
.header div nav ul li a {
	color: #212121;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.28px;
	transition: 0.3s;
}
.header div ul li:hover a {
	color: #2196f3;
}
.header div ul li a {
	color: #757575;
}
.tel ul li:not(:last-child) {
	margin: 0 50px 0 0;
}
.menu-svg-mail {
	width: 16px;
	height: 12px;
}
.header div ul li a {
	position: relative;
}
.header div ul li .cross {
	color: #2196f3;
}
.cross::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #2196f3;
	border-radius: 2px;
}
.tel ul {
	display: flex;
}
.tel ul li {
	display: flex;
	align-items: center;
}
.tel ul li a:last-child {
	margin: 0 0 0 10px;
}
.tel ul li svg,
a {
	fill: #757575;
	transition: 0.3s;
}
.tel ul li:hover svg {
	fill: #2196f3;
}
.tel ul li:hover a {
	color: #2196f3;
}
.menu-svg-mail {
	width: 16px;
	height: 12px;
}
.menu-svg-phone {
	width: 10px;
	height: 16px;
}
/* Второй блок  */
.main {
	margin: 94px 0;
}
.main .menu__tow li a {
	border-radius: 4px;
	padding: 6px 22px;
	background-color: #f5f4fa;
	text-align: center;
	color: #212121;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
}
.item ul {
	display: flex;
	justify-content: center;
}

.main .menu__tow li a:hover {
	background-color: #2196f3;
	color: #fff;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
		0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.innet {
	margin-top: 50px;
}
.innet ul li {
	cursor: pointer;
}
.box {
	position: relative;
	overflow: hidden;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 150, 243, 0.9);
	transform: translateY(100%);
	transition: transform 250ms ease-in-out;
}
.overlay-li:hover .box .overlay {
	display: inline-block;
	transform: translateY(0%);
	display: flex;
	align-items: center;
}
.overlay p {
	color: #fff;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.54px;
}
.item .menu__tow :not(:last-child) {
	margin: 0 8px 0 0;
}
.border {
	border: 1px solid #eee;
}
.innet ul {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}
.innet ul li:hover {
	box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
		0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.innet ul li div {
	block-size: border-box;
	width: 370px;
	flex-shrink: 0;
}
.innet ul li div h3 {
	margin: 20px 24px 0;
}
.innet ul li div p {
	margin: 4px 24px 20px;
	line-height: 30px;
}
/* footer */
.footer {
	background-color: #2f303a;
}
.footer__tuw {
	display: flex;
	padding: 60px 0;
}
.div__centr {
	display: flex;
	align-items: center;
}
.adres ul li:not(:last-child) {
	margin: 9px 0;
}
.adres a,
ul li {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
}
.adres a {
	color: #fff;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.42px;
}
.footer-img {
	margin: 0 0 20px 0;
}
.meps {
	color: #fff;
	font-weight: 400;
}
.adres ul li a {
	color: rgba(255, 255, 255, 0.6);
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.42px;
}
.icom {
	margin: 6px 0 0 70px;
}
.icom p {
	color: #fff;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.42px;
	text-transform: uppercase;
	margin: 0 0 20px 0;
}
.icom ul {
	display: flex;
	justify-content: space-between;
}
.icom ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	flex-shrink: 0;
	color: rgba(255, 255, 255, 0.1);
	border-radius: 50px;
}
.svgso,
.title {
	width: 20px;
	height: 20px;
	flex-shrink: 0;
	fill: white;
}
.hover {
	width: 100%;
	height: 100%;
	transition: 0.3s;
	cursor: pointer;
}

.hover:hover {
	background-color: #2196f3;
}
