@media (min-width: 480px) {	
	.headre__menu,.tel{
		display: none;
	}
	.h__one{
		background: rgba(47, 48, 58, 0.40) url(../images/mobile/fonts-mobil.png);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.h__one div h1 {
		width: 360px;
    color: #FFF;
		text-align: center;
		font-family: Roboto;
		font-size: 26px;
		font-style: normal;
		font-weight: 900;
		line-height: 42px; /* 161.538% */
		letter-spacing: 1.56px;
		text-transform: uppercase;
	}
	.h__one div {
    padding: 118px 60px;
}
	.item__one{
		width: 100%;
	}
	.modal{
		width: 200px;
		color: #FFF;
		text-align: center;
		font-family: Roboto;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 30px;
		letter-spacing: 0.96px;
	}
	.item ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.flex div,.item ul li,.item ul div h3,.item ul div p{
		width: 100%;
	}
	.item ul .flex{
		margin-bottom: 30px;
	}
	.radio{
		width: 100%;
		height: 120px;
	}
	.item ul div h3{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.item__tow{
		display: none;
	}
	.innet__item h2{
		color: #212121;
		text-align: center;
		font-family: Roboto;
		font-size: 28px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.84px;
	}
	.innet__item .innet__gup{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.innet__gup{
		display: flex;
		flex-wrap: wrap;
	}
	.innet__item ul .groop {
    margin: 0 0 30px 0;
	}
	.onever ul li:not(:last-child) {
    margin: 0 10px 0 0;
	}
	.onever ul {
    display: flex;
    align-items: flex-start	;
    justify-content: center;
	}
	.postcl h2{
		color: #212121;
		text-align: center;
		font-family: Roboto;
		font-size: 28px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.84px;
	}
	.title{
		display: flex;
		justify-content: center;
	}
	.icom_stile {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		max-width: 450px;
	}
	.icom-title{	
		max-width: 210px;
		flex-basis: calc((100% - 30px) / 2);
		margin: 0;
	}
	.icom-title {
		margin:0 0 30px 0;
		
	}
	.icom-title:nth-child(odd) {
		margin:0 30px 0 0 ;
	}
	.item ul .groop {
			margin: 0 0 30px 0;
		}
	.footer__center{
		display: flex;
		flex-wrap: wrap;
		justify-content: center
	}
	.adres{
		display: flex;

		flex-wrap: wrap;
		justify-content: center;
		max-width: 300px;
		/* flex-direction: column; */
		
	}
	.adres .footer__one li:not(:last-child) {
    margin: 8px 0;
	}
	.icom-footer{
		margin: 60px 0 0 0;
	}
	.form{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 60px 0 0 0;
		max-width: 450px;
	}
	.form__pole {
    width: 450px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 15px 16px;
	}
	.form__text{
		text-align: center;
	}
	.form__pole{
		margin: 0 0 20px 0;
	}
	/* меню бергер  ---------------------------*/
	header{
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 50;
		display: flex;
		z-index: 10;
	}
	.headre__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
		
	}
	/* header::before{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #FFF; */
	}

	.headre__cont{
		display: flex;
	}
	.headre__burger span{
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.headre__burger._active span  {
		transform: scale(0) translate(0px, -50%);
	}
	.headre__burger span,
	.headre__burger:before,
	.headre__burger:after	{
	content:'';
	background-color: #212121;
	position: absolute;
	transition: all 0.3s ease 0s;
	width: 100%;
	height: 2px;	
	left: 0;
	}
	/* .headre__burger._active span:hover{
		background-color: #2196f3;
	} */
	.headre__burger::before{
		top: 0;
	}
	.headre__burger._active::before{
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.headre__burger::after{
		bottom: 0;
	}
	.headre__burger._active::after{
		bottom: 50%;	
		transform: rotate(45deg) translate(0px, 50%);
	}
	.nav{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translate(-100%, 0px);
		background-color: #FFF;
		padding: 170px 0 0 0;
		transition: all 0.3s ease 0s;
		z-index: 2;
	}
	.nav._active{
		transform: translate(0px, 0px);
	}
	.cross::after {
		display: none;
	}
	.nav ul li a {
		padding:0;
		line-height: 82px;
	}
	.tel._active{
		position: absolute;
		display: block;
		top: 0;
		left: 40px;
		z-index: 2;
		margin: 562px 0 0 0 ;
	}
	.tel._active ul{
		display: block;
	}
	.icon__menu._active{
		display: flex;
		position: absolute;
		top: 726px;
		left: 40px;
		z-index: 2;
		/* margin: 726px 0 0 0; */
	}
	.icon__menu._active ul {
		display: flex;
	}
	.icon__menu ul li:not(:last-child) {
		margin:0 20px 0 0 ;
	}
	.icon__menu._active ul li a{
		color: #2196f3;
	}
	.header__top{
		display: flex;	
	}
	.header__top nav ul {
    display: block;
    align-items: center;
		margin: -110px 0 0 40px;
	}
	.header__top nav ul li:not(:last-child){
		margin: 0 0 32px 0;
	}
	.header div nav ul li a {
	color: #212121;
	font-family: Roboto;
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.8px;
	}
	.nav {
		display: block;
		margin-left:0;
		font-weight: 500;
	}
	.tel{
		display: none;
	}
	.icon__menu{
		display: none;
	}
	.tel ul{
		display: flex;
	}
	.menu-svg-mail,.menu-svg-phone{
		display: none;
	}

@media (min-width: 768px) {
	.headre__menu,.tel{
		display:contents;
	}
	.tel ul{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.headre__cont {
		justify-content: space-around;
	}
	.headre__menu nav ul{
		margin: 0 0 0 88px;
	}
	.h__one{
		background: rgba(47, 48, 58, 0.40) url(../images/tablet/fonts-tablet.png);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.item{
		display: flex;
		justify-content: center;	
	}
	.item ul{
		max-width: 738px;	
	}
	.item ul li{
		max-width: 354px;
		flex-basis:calc((100% - 10px) / 2);
	}
	.item ul li:nth-last-child(-n + 2){
		margin: 0;
	}
	.innet__gup{
		flex-wrap: wrap;
	}
	.title{
		display: flex;
		justify-content: center;
	}
	.icom_stile{
		max-width: 738px;
		justify-content: space-between;
	}
	.item ul li:nth-child(2n) {
    margin-left: 30px;
	}
	.icom-title {
    flex-basis: calc((100% - 10px) / 3);
    max-width: 226px;
	}
	.innet__item ul .groop {
    margin: 0;
	}
	.innet__gup{
		max-width: 738px;
	}
	.innet__gup li:nth-child(1) {
    margin:0 30px 30px 0;	
	}
	.innet__gup li:nth-child(2) {
    margin:0 0 30px 0;	
	}
	.innet__gup li:nth-child(3) {
    margin:0 30px 0 0;	
	}
	.icom_stile li:nth-last-child(-n + 3){
		margin: 0;
	}	
	.icom-title:nth-child(odd) {
    margin: 0 ;
	}
	.footer__tow{	
		display: flex;
		flex-wrap: wrap;
	}
	.footer__center{
		display: flex;
		flex-wrap: wrap;
		max-width: 768px;	
	}
	.adres{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		max-width: 768px;
	}
	.icom-footer{
		margin:0 0 0 165px ;
	}

}
@media (min-width: 1200px) {
	.wraper{
		max-width: 1200px;
	}
	.tel ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
	}
	.h__one div {
			padding: 118px 204px;
			text-align: center;
	}
	.h__one div h1{
		width: 696px;
		color: #FFF;
	text-align: center;
	font-family: Roboto;
	font-size: 44px;
	font-style: normal;
	font-weight: 900;
	line-height: 60px;
	letter-spacing: 2.64px;
	text-transform: uppercase;
	}
	.item ul{
		max-width: 1200px;
	}
	.item ul li {
    max-width: 270px;
		margin: 0;
	}
	.item ul li:nth-child(2n) {
    margin: 0;
	}
	.item ul .flex {
    margin-bottom: 0;
	}
	.item ul li:not(:last-child){
	margin: 0 30px 0 0;
	}
	.innet__gup li:nth-child(1) {
    margin:0;	
	}
	.innet__gup li:nth-child(2) {
    margin:0;	
	}
	.innet__gup li:nth-child(3) {
    margin:0;	
	}
	.innet__gup {
    max-width: 1200px;
	}
	.innet__gup li:not(:last-child){
		margin: 0 30px 0 0;
	}
	.icom_stile {
    max-width: 1200px;
		flex-wrap: nowrap
	}
	.icom-title {
    margin: 0;
	}
	.icom_stile li:not(:last-child){
		margin: 0 30px 0 0 ;
	}
	.icom-title {
	max-width: 170px;
	}
	.adres {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
	}
	.footer__center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
	}
	.icom-footer {
    margin: 10px 0 0 70px;
	}
	.form__blog-bnt{
		margin: 17px 0 0 12px;
	}
	.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px 0 0 0;
    max-width: 100%;
		align-items: center;
		margin: 0 0 0 93px;	
	}
	.form__pole {
    width: 358px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 15px 16px;
}
}