@media (min-width: 480px) {
	header{
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 50;
		display: flex;
	}
	.headre__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	}
	header::before{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #FFF;
	}
	.headre__burger span{
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.headre__burger._active span  {
		transform: scale(0) translate(0px, -50%);
	}
	.headre__burger span,
	.headre__burger:before,
	.headre__burger:after	{
	content:'';
	background-color: #2196f3;
	position: absolute;
	transition: all 0.3s ease 0s;
	width: 100%;
	height: 2px;	
	left: 0;
	}
	.headre__burger::before{
		top: 0;
	}
	.headre__burger._active::before{
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.headre__burger::after{
		bottom: 0;
	}
	.headre__burger._active::after{
		bottom: 50%;	
		transform: rotate(45deg) translate(0px, 50%);
	}
	.nav{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translate(-100%, 0px);
		background-color: #FFF;
		padding: 170px 0 0 0;
		transition: all 0.3s ease 0s;
	}
	.nav._active{
		transform: translate(0px, 0px);
	}
	.cross::after {
		display: none;
	}
	.nav ul li a {
		padding:0;
		line-height: 82px;
	}
	.tel._active{
		position: absolute;
		display: flex;
		top: 0;
		left: 0;
		/* z-index: 60; */
		margin: 562px 0 0 0 ;

	}
	.header__top{
		display: flex;
	}
	.header__top nav ul {
    display: block;
    align-items: center;
		margin: -110px 0 0 40px;
	}
	.header__top nav ul li:not(:last-child){
		margin: 0 0 32px 0;
	}
	.header div nav ul li a {
	color: #212121;
	font-family: Roboto;
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.8px;
	}
	.nav {
		display: block;
		margin-left:0;
		font-weight: 500;
	}
	.tel{
		display: none;
	}
	.tel ul{
		display: flex;
	}
	.menu-svg-mail,.menu-svg-phone{
		display: none;
	}
	/* .tel ul li svg,
	a {
		fill: #2196f3;
		transition: 0.3s;
	} */
	.header div ul li .phone {
		color: #2196f3;
	font-family: Roboto;
	font-size: 34px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.68px;
	}

	.adres__portfolio {
    display: flex;
    flex-direction: column
	}
	.form div p{
		display: flex;
		justify-content: center;
	}
	.menu__tow li{
		display: flex;
		flex-wrap:wrap;
	}
	/* .nav{
		display: none;
	} */
	/* .tel{
		display: none;
	} */
	.item__nav ul {
    display: flex;
    flex-wrap: wrap;
		justify-content: flex-start;
	}
	.innet{
		max-width: 738px;
	}
}
@media (min-width: 768px) {
	.wraper{
		display: flex;
		justify-content: center;
		max-width: 738px;
	}
	.nav{
		display: flex;
	}
	.menu{
		margin: 0 90px 0 0;
	}
	.tel{
		display: flex;
	}
	.tel ul{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.adres__portfolio {
    display: flex;
    flex-direction: row;
		max-width: 670px;
	}
	.innet ul li {
		/* max-width: 354px; */
		/* min-height: 440px; */
    display: flex;
		flex-basis: calc((100% - 10px) / 2);
	}
}
@media (min-width: 1200px) {
	.wraper {
    display: flex;
    justify-content: center;
    max-width: 1200px;
	}
	.tel ul{
		display: flex;
		flex-direction: row;
	}
  .adres__portfolio {
    display: flex;
		flex-direction: row;
		}
	.footer__tow{
		max-width: 1200px;
	}
	.nav{
		display: flex;
	}
	.menu{
		margin: 0 312px 0 0;
	}
}